{% extends "base.html" %}

{% block title %}Dashboard - IkariumBot{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='main/style.css') }}">
{% endblock %}

{% block content %}

        <!-- Mensagens de erro, alerta ou sucesso (ex: "Conta criada com sucesso!") -->
        <div class="alert-container">
            <div class="alert">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>


    <header>
        <nav>
            <h2>Ikarium Bot</h2>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
                <li><a href="{{ url_for('main.list_lobbies') }}">Lobbies</a></li>
            </ul>
        </nav>

        <p>Bem-vindo, <strong>{{ current_user.username }}</strong>!</p>

    </header>

    <main>
        <h1>Painel Principal</h1>
        <p>Servidor Flask funcionando com suporte a Blueprints!</p>
    </main>

    <footer>
        <p>&copy; 2026 Ikarium Bot - Todos os direitos reservados.</p>
    </footer>


{% endblock %}

{% block extra_js %}{% endblock %}