<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ikarium Bot - Dashboard</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='main/style.css') }}">
</head>

        <!-- Mensagens de erro, alerta ou sucesso (ex: "Conta criada com sucesso!") -->
        <div class="alert-container">
            <div class="alert">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

<body>
    <header>
        <nav>
            <h2>Ikarium Bot</h2>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Painel Principal</h1>
        <p>Servidor Flask funcionando com suporte a Blueprints!</p>
    </main>

    <footer>
        <p>&copy; 2026 Ikarium Bot - Todos os direitos reservados.</p>
    </footer>


</body>

</html>